@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

header{
    background: rgba(255, 166, 0, 0.815);
    height: 10vh;
    width: 100vw;
    margin: 0px;
}

header  h1{
    color: white;
    margin: 0px;
    padding: 25px 0px 0px 40px;
}


nav ul{
    padding: 10px;
    color: white;
    text-align: right;
}

nav li{
    display:inline-block;
    margin-right: 10px;
}

nav li a{
    text-decoration: none;
    color: white;
}

nav a:hover{
    text-decoration: underline;
    cursor:pointer;
    color: rgba(255, 0, 0, 0.452);
    transition: color 1s;
}

section{
    margin-bottom: 0px;
    background: url(Imagens/FundoPag.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 30vh;
}

fieldset{
    width: 300px;
    border-radius: 10px;
    display: inline-block;
    margin: 0;
    transform: translate(38vw, 0%);
    padding: 20px;
    color: gray;
}

fieldset input{
    margin-left: 10px;
}

h2{
    width: 400px;
    font-size: 3em;
    font-weight: bolder;
    color: white;
    background-color: rgba(255, 166, 0, 0.733);
    box-shadow: 5px 4px 5px rgba(0, 0, 0, 0.295);
    line-height: 40px;
    margin: 200px 20px;
    padding: 20px;
    border-radius: 15px;
}

.plano{
    display: inline-block;
    background-color: orange;
}