@charset "UTF-8";

body{
    height: 95vh;
    background-image: url(Imagens/FundoPag.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

header{
    background: orange;
    height: 10vh;
    width: 100.3vw;
    margin: -15px -5px 0px -15px;
}

header  h1{
    color: white;
    margin: 0;
    padding: 30px 0px 0px 40px;
}


nav a{
    padding: 10px;
    border-radius: 10px;
    background: orange;
    text-decoration: none;
    color: white;
}

nav a:hover{
    text-decoration: underline;
    color: orange;
    background: black;
    cursor:pointer;
    transition-duration: 2s;
}

fieldset{
    width: 300px;
    border-radius: 10px;
    display: inline-block;
    margin: 0;
    transform: translate(38vw, 0%);
    padding: 20px;
    color: gray;
}

fieldset input{
    margin-left: 10px;
}

a{
    padding: 10px;
    border-radius: 10px;
    background: orange;
    text-decoration: none;
    color: white;
}

h2{
    width: 400px;
    font-size: 3em;
    font-weight: bolder;
    color: white;
    background-color: rgba(255, 166, 0, 0.733);
    box-shadow: 5px 4px 5px rgba(0, 0, 0, 0.295);
    line-height: 40px;
    margin: 200px 20px;
    padding: 20px;
    border-radius: 15px;
}

.plano{
    display: inline-block;
    background-color: orange;
}