@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

header{
    background: rgba(255, 166, 0, 0.87);
    height: 70px;
    width: 100vw;
    margin: 0px;
    position: sticky;
    top: 0;
}

header  h1{
    color: white;
    margin: 0px;
    padding: 20px;
    float: left;
}

nav ul{
    color: white;
    text-align: right;
    margin-right: 2vw;
    padding-top: 30px;
}

nav li{
    display: inline-block;
    margin-right: 10px;
    font-size: 1.1em;
}

a{
    text-decoration: none;
    color: white;
}

nav a:hover{
    text-decoration: underline;
    cursor:pointer;
    color: rgba(255, 0, 0, 0.507);
    transition: color 0.2s;
}

section#inicio{
    background: url(Imagens/FundoPag.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 70vh;
}

.fundo{
    background: rgba(0, 0, 0, 0.671);
    height: 70vh;
    padding: 0px;
}

h2{
    width: 350px;
    transform: translate(10px, 150px);
    font-size: 2em;
    font-weight: bolder;
    color: white;
    background-color: rgba(255, 0, 0, 0.11);
    box-shadow: 5px 4px 5px rgba(0, 0, 0, 0.055);
    line-height: 40px;
    padding: 20px;
    border-radius: 15px;
}

#plano{
    display: inline-block;
    background: black;
    height: 50vh;
}

#plano h1{
    width: 100vw;
    text-align: center;
    background-color: rgba(255, 166, 0, 0.877);
}

fieldset{
    width: 300px;
    border-radius: 10px;
    display: inline-block;
    margin: 0;
    transform: translate(38vw, 0%);
    padding: 20px;
    color: gray;
}

fieldset input{
    margin-left: 10px;
}