@charset "UTF-8";

body{
    background-image: url(Imagens/frangoAcademiaFundo.jpg);
    background-repeat: no-repeat;
    overflow: hidden;
}

header{
    background: orange;
    height: 100px;
    width: 1607px;
    margin: -15px -15px 0px -15px;
}

header  h1{
    color: white;
    margin: 0;
    padding: 30px 0px 0px 40px;
}


nav a{
    padding: 10px;
    border-radius: 10px;
    background: gray;
    text-decoration: none;
    color: white;
}

nav a:hover{
    text-decoration: underline;
    color: blue;
}